:root{
  --primary:#307aab;
  --secondary:#eeeff1;
}

body{
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
}
main{
  flex-grow: 1;
}
.bg-primary{background-color: var(--primary) !important;}

.bg-secondary{
  background-color: var(--secondary) !important;
}
.text-primary{
  color: white !important;
  text-shadow: black;
}
.card-white{
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
}
.text-secondary{
  color:#81838a ;
}